<!DOCTYPE html>
<html class="h-full" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Q&A</title>

  <script src="/js/app.js" defer></script>
  <script src="https://cdn.skypack.dev/twind/shim" type="module" defer></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">
</head>
<body class="font-sans h-full bg-gray-100">
  @include('layouts/header')

  <main class="py-4 container mx-auto h-full">
    @!section('page')
  </main>
</body>
</html>
