@layout('app')

@section('page')
  <div class="create-room">
    <form action="{{ route('RoomsController.store') }}" method="POST">
      <input id="name" name="name" type="text" placeholder="Room Name">
    </form>
  </div>
@endsection
