<header class="bg-white py-4">
  <div class="flex justify-between items-center container mx-auto">
    <span class="text-7xl">Q&A</span>
    <div class="flex justify-center">
      <a class="bg-indigo-500 rounded-md text-2xl text-white px-8 py-4 no-underline hover:bg-indigo-600" href="{{ route('RoomsController.create') }}">Create Room</a>
    </div>
  </div>
</header>
